::-webkit-scrollbar{
  display: none;
}

html{
  font-size: 14pt;
}

/* FIXES */
.no-underline:HOVER{
  text-decoration: none;
}

/* COLORS */
.bg-black{
  background-color: #000;
}
  .bg-black .navbar a{
    color: #ccc;
  }
  li.active{
    background-color: #2b2b2b;
    padding: 21px 15px 19px 15px;
    color: #ccc;
    font-weight: bold;
    font-size:.75rem;
  }
    li.active:HOVER{
      text-decoration: none;
      cursor: not-allowed;
    }

.bg-gray{
  background-color: #eee;
}

.bg-dark-gray{
  background-color: #3b3b3b;
}

/* BACKGROUNDS */
.spotlight-bg{
  width: 100%;
  height: 360px;
  background-color: #efefef;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: brightness(.3);
  position: absolute;
  z-index: -3;
}
  .expertise-bg{
    background-image:url("../media/site/expertise-bg.jpg");
  }
  .distribution-bg{
    background-image:url("../media/site/distribution-bg.jpg");
  }

/* NAVBAR */
.navbar,h1,h2,h3{
  font-family: 'Oswald', sans-serif;
}

p{
  font-family: 'Montserrat', serif;
}

.navbar .navbar-brand{
  font-size: 20pt;
}

.navbar a.nav-link li{
  padding: 13px 15px 7px 15px;
  font-weight: bold;
  font-size:0.75rem;
}
  .navbar a.nav-link{
    transition: .3s ease-out;
  }
  .navbar a.nav-link:HOVER{
    background-color: #2b2b2b;
    }
  }

/* JUMBOTRON */
.jumbotron-custom{
  height: 300px;
}
  .jumbotron-custom h1{
    color: #fff;
    height: 290px;
    font-size: 1.9rem;
  }

  .pointer-down{
    display: flex;
    width: 100%;
    height: 80px;
  }

  .gray-bar{
    width: 50%;
    background-color: #eee;
  }

  /* GRID */
  .grid img{
    width: 100%;
    transform: scale(1);
    filter: opacity(1);
    transition:
      transform .3s ease-out,
      filter .3s ease-out;
  }

  .grid img:HOVER{
    transform: scale(1.2);
    filter: opacity(.8);
  }

  .img-container{
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  #expertise .grid-item-text{
    padding: 40px 0;
    font-size: .9rem;
  }

  #expertise .grid-item-text h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #333;
  }

  .grid-item-text h3{
    font-size: 1.5rem;
    border-bottom: 3px solid #333;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  #expertise .grid-item-text p{
    font-style: italic;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .grid-item-text button{
    width: 60%;
    padding: 3px 0;
    background-color: transparent;
    border: 0;
    font-family: 'Oswald', sans-serif;
    font-size: .9rem;
    font-weight: bold;
    border: 2px solid #195C96;
    color: #195C96;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    right: 20%;
    margin: 0 auto;
    transition: background-color .3s ease-out;
  }

  .grid-item-text button:FOCUS{
    outline: none;
  }

  .grid-item-text button:HOVER{
    cursor: pointer;
    background-color: #195C96;
    color: #fff;
  }

  .partners-grid img{
    width: 25%;
    margin: 20px 20px;
  }

/* FOOTER */
footer h6{
  font-size: 0.8rem;
  color: #ccc;
  font-family: 'Oswald', sans-serif;
}

footer p{
  font-size: 0.8rem;
  color: #999;
}

footer i{
  margin-left: 15px;
}

footer a{
  color: #195C96;
}

footer a.icon{
  color: #999;
  transition: .2s ease-in;
}
  footer a.icon:HOVER{
    color: #fff;
  }

footer .btm-links{
  color: #666;
  font-size:0.7rem;
  font-family: 'Oswald', sans-serif;
}

footer .btm-links a{
  color: #666;
  transition: .2s ease-in;
}
  footer .btm-links a:HOVER{
    color: #999;
    text-decoration: none;
  }
